<div class="banner">
    <h3 class="banner-heading">The #1 JOB ABOARD FOR IT COMMUNITY </h3>
    <p>Let's explore our website to find out more opportunities!</p>
</div>

<div class="job-wrapper">
    <div class="job-show">
        <div class="job-search">
            <input class="search-box" type="text" value="" placeholder="Search job title.....">
        </div>
    {{#each company}}
        <div class="job-list" >
            <div class="job-list-item">
                <div class="left-side">
                    <div class="img-container"><img class="company-img" src="{{this.CongTyImg}}" alt=""></div>
                    <div class="company-info">
                         <h3>{{this.Position}}</h3>
                         <p>{{this.TenCongTy}}</p>
                    </div>
                </div>
                <div class="right-container">
                    <ul class="right-side">
                        <li>{{this.DiaChi}}</li>
                        <li>{{this.Luong}}</li>
                    </ul>  
                   <div class="appear">
                     <a class="appear has-link btn-item" href="/home/{{this._id}}">View job</a>
                     <a class="appear has-link btn-item">Apply now</a>
                   </div>
                </div>
            </div>
        </div>
        {{/each}}
        <form action="/" method="GET">
            <div class="listPage">
                <input class="totalpage" type="submit" name="q" style="display:none" value="{{tongSoPage}}">
            </div>
        </form>
    </div>
  
    <div class="job-filter">
     <form action="/" method="GET">
        {{#each linhvuc}}
            <div class="check-box-group">
                <label class="check-box-label" for="job_1">
                    <input class="check-box-js" type="checkbox" value=" {{this.TenLinhVuc}}" name="linhvuc" id=""> {{this.TenLinhVuc}}
                </label>
            </div>
        {{/each}}
            <div class="space"></div>
            <label class="location" for="location">Location : </label>
            <input type="text" name="location" class="js-location" placeholder="Enter Location ...">
            <div class="space"></div>
            <label class="check-box-label js-contract-or-intern" for="fulltime">
                    <input class="" name="contract-or-intern" type="checkbox" value="true" name="fulltime" id=""> 
                    <span>Fulltime</span>
            </label>
            <label class="check-box-label js-contract-or-intern" for="intern">
                    <input class="" name="contract-or-intern" type="checkbox" value="true" name="intern" id=""> 
                    <span>Intern</span>
            </label>
            <div class="space"></div>
            <div class="submit-container">
                <input type="submit" class="js-submit" value="Filter" >
            </div>
        </form>
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    const totalPage = document.querySelector('.totalpage').value;
    const Wrapitem = document.querySelector('.listPage');
  
    function loadPage() {
        for (let i = 1; i <= totalPage; i++) {
            const numberPage = document.createElement('input');
           
            numberPage.setAttribute("type","submit");
            numberPage.setAttribute("value",i);
            numberPage.setAttribute("name","q");
            numberPage.classList.add('listPage-item');
            numberPage.addEventListener('click', function() {
                handlePageClick(i);
            });
            Wrapitem.appendChild(numberPage);  // Append numberPage inside the loop
        }
    }

    function handlePageClick(pageNumber) {
        console.log('Clicked on page:', pageNumber);

    }
            loadPage();
    // Call the loadPage function to generate page buttons

});//end
</script>
